In [3]:
from commun import utils
import pandas as pd

json_data = utils.read_json_file(r'W:\Stock-market-analysis\stock_market_analysis\database\tickers\jnj.json')

data = json_data['historical_dividend']

df = pd.DataFrame(data['historical'])

df

,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
0,2022-11-21,"November 21, 22",1.13000,1.13000,2022-11-22,2022-12-06,2022-10-19
1,2022-08-22,"August 22, 22",1.13000,1.13000,2022-08-23,2022-09-06,2022-07-18
2,2022-05-23,"May 23, 22",1.13000,1.13000,2022-05-24,2022-06-07,2022-04-19
3,2022-02-18,"February 18, 22",1.06000,1.06000,2022-02-22,2022-03-08,2022-01-04
4,2021-11-22,"November 22, 21",1.06000,1.06000,2021-11-23,2021-12-07,2021-10-21
...,...,...,...,...,...,...,...
240,1963-02-19,"February 19, 63",0.00081,0.00081,,,
241,1962-11-21,"November 21, 62",0.00058,0.00058,,,
242,1962-08-21,"August 21, 62",0.00058,0.00058,,,
243,1962-05-22,"May 22, 62",0.00058,0.00058,,,
244,1962-02-13,"February 13, 62",0.00058,0.00058,,,

In [ ]:
from datetime import date

today = date.today()

year = today.year

s = " 2022."

s.find(str(year))

In [42]:
import pandas as pd

data: dict = {"2022":{"dividend":0.1}, "2021":{"dividend":0.2}, "2020":{"dividend":0.13}, "2019":{"dividend":0.14}, "2018": {"dividend":0.26},"2017": {"dividend":0.25}}


df = pd.DataFrame(data)

df = df.transpose()

df.reset_index()

df = df[::-1]

#print(df['dividend'][3])

index = len(df.index)

print(index)

for i in range(0, index-1):
    a1 = df['dividend'][i]
    a2 = df['dividend'][i+1]
    
    print(a2/a1)

6
1.04
0.5384615384615385
0.9285714285714285
1.5384615384615385
0.5